<section class="w-full">

    <article class="w-full bg-agriexportbg bg-center bg-no-repeat bg-cover flex justify-center items-center pt-48 pb-48">
        <div class="grid justify-items-center">
            <h1 class="text-white text-6xl font-bold">Agriexport</h1>
            <p class="text-white text-xl font-normal">Specialise in components for agricultural machinery</p>
        </div>
    </article>

    <article class="pl-40 pt-16">
        <div>
            <p class="text-black text-3xl font-bold">Equipment for machinery</p>
            <ul class="list-disc gap-4 font-normal text-black text-xl pt-6 pl-6">
                <li>Hydraulic Components</li>
                <li>Tractor Equipment Transmission</li>
                <li>Soil Cultivation - Mulching</li>
                <li>Agribag / Agribox</li>
                <li>Stable Fencing Fittings</li>
                <li>Slurry tankers accessories</li>
                <li>Battioni original parts</li>
                <li>Tractors seats and equip lights</li>
                <li>Lifting accessories hardware</li>
                <li>Greasing - Gardening</li>
            </ul>
        </div>
    </article>

</section>