<div class="bg-[url('assets/images/vimi-fasteners.jpg')] bg-cover bg-no-repeat w-full flex justify-center items-center">

    <div class="py-64 lg:py-96 px-6 text-center">
        <h1 class="text-black text-[32px] font-bold lg:text-[72px]">Vimi Fasteners</h1>
        <h3 class="text-black text-lg pt-2 lg:text-[24px]">Provide highly engineered fastening systems</h3>
    </div>

</div>

<div class="w-full px-6 mt-12 mb-20">
    <h2 class="text-xl text-black font-bold">Markets</h2>
    <ul class="list-[square] text-black text-xl px-6 mt-10 space-y-3">
        <li>Automotive</li>
        <li>Industrial Engines & Vehicles</li>
        <li>Oil & Gas</li>
        <li>Aerospace & Motorsport</li>
    </ul>
</div>