<section>

    <div class="flex justify-between items-end px-6">
        <div>
            <ul class="list-none space-y-4 text-base text-[#1E5187] font-bold">
                <li 
                    (click)="setCategory('agriculture')"
                    [ngClass]="[cat == 'agriculture' ? 'text-[#1585FF] border-[#1585FF]' : 'border-transparent']"
                    class="border-b-2 hover:border-[#1585FF] hover:text-[#1585FF] cursor-pointer w-max">
                    Agriculture</li>
                <li 
                    (click)="setCategory('plastic')"
                    [ngClass]="[cat == 'plastic' ? 'text-[#1585FF] border-[#1585FF]' : 'border-transparent']"
                    class="border-b-2 hover:border-[#1585FF] hover:text-[#1585FF] cursor-pointer w-max">
                    Plastic</li>
                <li 
                    (click)="setCategory('tech')"
                    [ngClass]="[cat == 'tech' ? 'text-[#1585FF] border-[#1585FF]' : 'border-transparent']"
                    class="border-b-2 hover:border-[#1585FF] hover:text-[#1585FF] cursor-pointer w-max">
                    Technology</li>
            </ul>
        </div>

        <div>
            <ul class="list-none space-y-4 text-base text-black font-bold">
                <li [routerLink]="['about']" class="border-b-2 border-transparent hover:border-black cursor-pointer w-max">About</li>
                <li [routerLink]="['contact']" class="border-b-2 border-transparent hover:border-black cursor-pointer w-max">Contact</li>
            </ul>
        </div>
    </div>

    <div class="w-full">
        <app-agriculture *ngIf="cat == 'agriculture'"></app-agriculture>
        <app-plastic *ngIf="cat == 'plastic'"></app-plastic>
        <app-technology *ngIf="cat == 'tech'"></app-technology>
    </div>

</section>