<section class="w-full">

    <article class="w-full bg-omnigearbg bg-center bg-no-repeat bg-cover flex justify-center items-center pt-48 pb-48">
        <div class="grid justify-items-center">
            <h1 class="text-white text-6xl font-bold">OmniGear</h1>
            <p class="text-white text-xl font-normal">Furnishing the highest value power transmission systems</p>
        </div>
    </article>

    <article class="pl-40 pt-16">
        <div>
            <p class="text-black text-3xl font-bold">Gear Boxes & Enclosed Drives</p>
            <ul class="list-disc gap-4 font-normal text-black text-xl pt-6 pl-6">
                <li>Agriculture</li>
                <li>On Highway</li>
                <li>Construction</li>
                <li>Forestry</li>
            </ul>
        </div>
    </article>

</section>