<main class="bg-primary">

  <header>
    <app-header></app-header>
  </header>

  <section>

    <router-outlet></router-outlet>
    <!-- For more than 30 years we successfully represend many companies in Italy, Turkiye, Greece and Albania in the agricultural sector and recently in the plastic market. We are alway open for other markets as well and cooperations. We are ambitious, successful and well connected. -->

  </section>

  <footer class="pt-5 pb-5 w-full flex justify-center items-center">
    <p class="font-thin text-xs text-black">© {{ anio }} UralLimited Company | Privacy Notice</p>
  </footer>

</main>
