<section class="w-full">

    <article class="w-full bg-huntsmanbg bg-center bg-no-repeat bg-cover flex justify-center items-center pt-60 pb-60">
        <div class="grid justify-items-center">
            <h1 class="text-white text-6xl font-bold">Huntsman Studio</h1>
            <p class="text-white text-xl font-normal">Specialise in companies software requirements</p>
        </div>
    </article>

    <article class="pl-40 pt-16">
        <div>
            <ul class="list-disc gap-4 font-normal text-black text-xl">
                <li>Software Design & Development based on business needs</li>
                <li>Business Automation Software and Hardware solutions</li>
                <li>Business Identity Design</li>
                <li>Hosting Solutions</li>
                <li>Mail Servers</li>
            </ul>
        </div>
    </article>

</section>