<div class="bg-[url('assets/images/LaLEonessaImage.jpeg')] bg-cover bg-no-repeat w-full flex justify-center items-center">

    <div class="py-64 lg:py-96 px-6 text-center">
        <h1 class="text-black text-[32px] font-bold lg:text-[72px]">La Leonessa</h1>
        <h3 class="text-black text-lg pt-2 lg:text-[24px]">Sleawing Bearings Manufacturer Leader</h3>
    </div>

</div>

<div class="w-full px-6 mt-12 mb-20">
    <h2 class="text-xl text-black font-bold">Applications</h2>
    <ul class="list-[square] text-black text-xl px-6 mt-10 space-y-3">
        <li>COnstruction equipment</li>
        <li>Lifting and Handling</li>
        <li>Process industry</li>
        <li>Power generation</li>
        <li>Marine</li>
        <li>Others</li>
    </ul>
</div>